<footer>
	<h1>Contact me</h1>
	<p>Email: takhaamine@gmail.com</p>
	<p>Phone: +212670790389</p>
	<div class="links-wrapper">
		<div>
			<a href="https://www.github.com/aminetakha" target="_blank"
				><img src="/public/assets/github.svg"
			/></a>
		</div>
		<div>
			<a href="https://www.linkedin.com/in/aminetakha/" target="_blank"
				><img src="/public/assets/linkedin.svg"
			/></a>
		</div>
	</div>
</footer>
