<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="fonts/NunitoSans-Regular.ttf" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/swiper/swiper-bundle.min.css"
		/>
		<script
			type="module"
			src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"
		></script>
		<script
			nomodule=""
			src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"
		></script>
		<link rel="stylesheet" href="/css/styles.css" />
		<title>Electroshop</title>
		<link rel="shortcut icon" type="image/png" href="/assets/logo.png" />
		<script src="https://js.stripe.com/v3/"></script>
	</head>
	<body>
		<header>
			<div>
				<a href="/"><img src="assets/logo.png" /></a>
			</div>
			<div class="header__account_cart">
				<% if (user === 'Admin' || user === "guest") { %>
				<div
					class="account"
					onclick="window.location.assign('/admin/login')"
				>
					<div><ion-icon name="power-outline"></ion-icon></div>
					<p>Admin</p>
				</div>
				<% } %>
				<div class="account" onclick="window.location.assign('/login')">
					<div><ion-icon name="person-outline"></ion-icon></div>
					<p>account - <%= user %></p>
				</div>
				<div class="card">
					<div>
						<a href="/cart">
							<div class="card-count"><%= cart %></div>
							<ion-icon name="cart-outline"></ion-icon
						></a>
					</div>
					<p>Cart</p>
				</div>
				<div>
					<% if (user !== "guest") { %>
					<form method="POST" action="/logout">
						<input
							type="hidden"
							name="_csrf"
							value="<%= csrfToken %>"
						/>
						<button type="submit">Logout</button>
					</form>
					<% } %>
				</div>
			</div>
		</header>
	</body>
</html>
