<%- include ('partials/nav', {user, cart, csrfToken}) %> 

		<!-- Hero section -->
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="assets/item-1.png" />
				</div>
				<div class="swiper-slide">
					<img src="assets/item-2.png" />
				</div>
				<div class="swiper-slide">
					<img src="assets/item-3.png" />
				</div>
			</div>

			<div class="swiper-pagination"></div>

			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>

		<!-- Popular categories -->
		<section class="section-category">
			<h1>Popluar categories</h1>
			<div class="categories">
				<div>
					<img src="assets/computer.jpg" />
					<p>Computer &amp; Laptop</p>
					<a href="/api/categories/computers">View products</a>
				</div>
				<div>
					<img src="assets/cameras.jpg" />
					<p>Digital &amp; Cameras</p>
					<a href="/api/categories/cameras">View products</a>
				</div>
				<div>
					<img src="assets/phone.jpg" />
					<p>Smartphones</p>
					<a href="/api/categories/phones">View products</a>
				</div>
				<div>
					<img src="assets/tv.jpg" />
					<p>Smart &amp; Televisions</p>
					<a href="/api/categories/tv">View products</a>
				</div>
				<div>
					<img src="assets/watches.jpg" />
					<p>Smart &amp; Watches</p>
					<a href="/api/categories/watches">View products</a>
				</div>
				<div>
					<img src="assets/headphones.jpg" />
					<p>Headphones</p>
					<a href="/api/categories/headphones">View products</a>
				</div>
			</div>
		</section>

		<section class="banner">
			<div>
				<img src="/public/assets/item-4.png"  />
			</div>
			<div>
				<img src="/public/assets/item-5.png"  />
			</div>
		</section>

		<!-- New Arrival -->
		<section class="section-category new">
			<h1>New Arrival</h1>
			<div class="categories"></div>
		</section>

		<section class="banner">
			<div>
				<img src="/public/assets/item-6.jpg"  />
			</div>
			<div>
				<img src="/public/assets/item-7.jpg"  />
			</div>
			<div>
				<img src="/public/assets/item-8.jpg"  />
			</div>
		</section>

		<!-- Featured Products -->
		<section class="section-category featured">
			<h1>Featured Products</h1>
			<div class="categories"></div>
		</section>

		<footers> Copyright </footers>

		<!-- scripts -->
		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
		<script>
			const mySwiper = new Swiper(".swiper-container", {
				direction: "horizontal",
				loop: true,
				pagination: {
					el: ".swiper-pagination",
				},
				navigation: {
					nextEl: ".swiper-button-next",
					prevEl: ".swiper-button-prev",
				},
			});
		</script>
		<script src="/js/index.js"></script>
	</body>
</html>
