<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Electroshop</title>
		<link rel="shortcut icon" type="image/png" href="/assets/logo.png" />
	</head>
	<body>
		<form method="POST" action="/api/users/register">
			<input type="text" name="username" placeholder="username..." />
			<input type="text" name="email" placeholder="Email..." />
			<input type="password" name="password" placeholder="password..." />
			<input type="text" name="phone" placeholder="phone..." />
			<input type="text" name="address" placeholder="addresse..." />
			<input type="text" name="country" placeholder="country..." />
			<button type="submit">Register</button>
		</form>
		<p>Already have an account? Sign in <a href="/login">here</a></p>
	</body>
</html>
