<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Electroshop</title>
		<style>
			body {
				padding: 0;
				margin: 0;
				width: 100%;
				height: 100vh;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #3399fe;
			}
			div {
				text-align: center;
				border: 1px solid white;
				padding: 16px 32px;
				border-radius: 8px;
				color: white;
			}
			a {
				text-decoration: none;
				color: white;
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<div>
			<% if (completed) { %>
			<p><%= message %></p>
			<a href="/login">Click to login</a>
			<% } else { %>
			<h1>Thanks for joining us!</h1>
			<p><%= message %></p>
			<% } %>
		</div>
	</body>
</html>
